azulocuro = #062f3c
azul = #2b82ad
amarillo = #ffcc33
verde = #83b81a

.black-bg
	background azul !important
	color white !important
	border-bottom 1px solid azul !important

.top-menu
	ul
		li
			.logout
				font-size 17px !important
				background azulocuro !important
				&:hover
					color amarillo !important
.animar
	-webkit-transition all 2s ease
	transition all 2s ease			
.site-footer				
	background verde !important
	