azulocuro = #062f3c
azul = #2b82ad
amarillo = #ffcc33
verde = #83b81a
textarea
	resize none
.black-bg
	background azul !important
	color white !important
	border-bottom 1px solid azul !important
.chosen-container-single 
	.chosen-single
		height 34px !important
.top-menu
	ul
		li
			.logout
				font-size 17px !important
				background azulocuro !important
				&:hover
					color amarillo !important
.animar
	-webkit-transition all 2s ease
	transition all 2s ease			
.site-footer				
	background verde !important
	
.addpaciente	
	position relative
	.icoaddpaciente
		position absolute
		top -4px
		right -19px
		transition all 1s ease
		&:hover			
			right -155px
		a
			font-size 1.2em
			i
				font-size 2.6em
				
.prediccion
	position absolute
	top -71 px	
	label
		vertical-align text-bottom
		font-size 1.2em
		padding 0 5px
		
.no-visible					
	margin-left -437px !important
.si-visible
	margin-left -10px !important
	
#cuadroprediccion
	transition all 2s ease
	width 100%
	margin-top 42px
	height 250px
#mostrarprediccion	
	transition all 2s ease
	
.boton_prediccion
	position absolute
	bottom -40%
	left -10px	
	transition all 2s ease	
				
.cuadro
	border-bottom 1px solid #eff2f7
	p
		margin 0
		color azul
		span
			color #797979
	a
		text-align right	
.vertodos
	padding 7px
	font-size 1.2em
	text-align center	

.btn_google	
	background white
	border none
	color #428bca

.addpaciente
	label
		color azul
		
.subtitul
	text-align center
	margin 15px 0
	color azul
#sortable1
#sortable2	
	li		
		cursor move
		padding 10px 0 10px 35px !important
#sortable2	
	li
		background azul
		color white
.sintomas
	padding 7px 18px
	cursor	pointer
	color azul	
.enfermedad_posible
	margin 0 5px
	padding 0
	li
		margin 0 5px 5px 0
		padding 18px
		list-style none
		display inline-block	
		background  azul
		color white
		font-size 17px
.descripcion_consulta
	p
		color azul
		span 
			color #797979
.hola
	div
		margin-bottom 20px
	p
		border-bottom 1px solid azul
		padding 15px 0			

						
@media (min-width 992px)			
	.modal-lg
		width 1024px			

	